.view-3 img {
  transition: all 0.2s ease-in;
}
.view-3 .mask {
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transform: translate(460px, -100px) rotate(180deg);
  transition: all 0.2s 0.4s ease-in-out;
}
.view-3 h2{
  transform: translateY(-100px);
  transition: all 0.2s ease-in-out;
}
.view-3 p {
  transform: translateX(300px) rotate(90deg);
  transition: all 0.2s ease-in-out;
}
.view-3 a.info {
  transform: translateY(-200px);
  transition: all 0.2s ease-in-out;
}

.view-3:hover .mask {
  opacity:1;
  transition-delay: 0s;
  transform: translate(0px, 0px);
}
.view-3:hover h2 {
  transform: translateY(0px);
  transition-delay: 0.5s;
}
.view-3:hover p	{
  transform: translateX(0px) rotate(0deg);
  transition-delay: 0.4s;
}
.view-3:hover a.info {
  transform: translateY(0px);
  transition-delay: 0.3s;
}
