<div class='v-align' [ngClass]="{'active':activeClassEnabled}">
  <div class='hero-btn' (click)="buttonClicked()">
    <button class='btn'>
      Click
    </button>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
    <span class='particles-circle'></span>
  </div>
</div>
